:root {
    --primary-text-color:rgba(0,0,0,0.8);
    --title-text-color:#000000;
    --accent-color: #18a0fb;
    --primary-white-color: #ffffff;
    --secondary-bg-color: #f5f5f5;
}

html {
    box-sizing:border-box;
  }
  *,
  *::before,
  *::after {
   box-sizing: border-box;
  }

body {
    background-color: var(--primary-white-color);
    color: var(--primary-text-color);
    
    font-family: Montserrat, sans-serif;
    letter-spacing: -0.015em;
    font-size: 18px;
    line-height: 1.67;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.container {
    margin-left: auto;
    margin-right: auto;
    width: 1440px;
    padding-left: 20px;
    padding-right: 20px;
    outline: 2px solid tomato;
}

/* лого */

.logo {
    color: var(--title-text-color);
    
    font-family: Comfortaa, cursive; 
    font-size: 28px;
    line-height: 1.14; 
    text-decoration: none;     
}

.logo:hover {
    color: var(--accent-color);
}


/* навигация */
.main-nav {
    display: flex;
    align-items: center;
    
}

.site-nav {
    display: flex;
    margin-left: 70px;
}

.site-nav .item + .item {
    margin-left: 40px;
}
/* .site-nav .item:not(:last-child) {
    margin-right: 40px;
} */


.site-nav .link {
    display: block;
    padding-top: 21px;
    padding-bottom: 21px;

    color: var(--accent-color);     
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none; 
    
}

.site-nav .link:hover,
.site-nav .link:focus {
    color: var(--title-text-color);
}

/* Auth nav */
.auth-nav {
    display: flex;
    margin-left: auto;
    flex-shrink: 0;
}

.auth-nav .item + .item {
    margin-left: 12px;
}

/* герой */

.hero {
    text-align: center;
}

.hero-title {
    margin-top: 0;
    margin-bottom: 40px;

    color: var(--title-text-color);      
    font-weight: 400;
    font-size: 56px;
    line-height: 1.43;   
  
    
}

/* секции */

.section {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section.no-padding {
    padding-top: 0;
    padding-bottom: 0;
}

.section-title {
    margin-top: 0;
    margin-bottom: 60px;

    color: var(--title-text-color);
    
    font-weight: 400;
    font-size: 48px;
    line-height: 1.5;   
        
}

.section-title.centered,
.section-description.centered  {
    text-align: center;
}

.section-description {
    margin-top: 0;
    margin-bottom: 80px;
    font-size: 36px;
    line-height: 1.39;
}

/* преимущества и примеры работ */

.feature-list {
    display: flex;
    flex-wrap: wrap;
    margin: -30px -74px;
}

.feature-list .item {
    width: 625px;
    margin: 30px 74px;
}

.feature-list .title,
.work-list .title {

    margin-top: 0;
    margin-bottom: 24px;
    color: var(--title-text-color);
    
    font-weight: 700;
    font-size: 24px;
    line-height: 1.5;

}

.feature-list p {
    margin-top: 0;
    margin-bottom: 32px;
}

/* примеры работ  */

.work-list > .item {
    display: flex;
    align-items: center;

    padding-top: 80px;
    padding-bottom: 80px;
    background-color: var(--primary-white-color)
}

.work-list > .item:nth-child(2n) {
    flex-direction: row-reverse;
    background-color: var(--secondary-bg-color);
}

.work-list > .item:nth-child(2n + 1) .content {
    margin-left: 84px;
}

.work-list > .item:nth-child(2n) .content {
    margin-right: 84px;
}

/* Клиенты */

.client-list {
    display: flex;
    flex-wrap: wrap;
    width: 1030px;
    margin: -32px -42px;
    margin-left: auto;
    margin-right: auto;
}

.client-list li {
    margin: 32px 42px;
}

/* Регистрация */

.registration,
.registration-item {
    display: flex;
    align-items: center;
}

.registration .button {
    min-width: 192px;
}

/* кнопки */

.button {
    display: inline-block;
    border-radius: 6px;
    padding: 11px 34px;
    min-width: 130px;
    text-align: center;
    border: 1px solid transparent;

    color: var(--title-text-color);
    background-color: var(--primary-white-color);
         
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    text-decoration: none;     
         
}

.button.primary {
    background-color: var(--accent-color);
    color: var(--primary-white-color);    
}

.button.secondary {
    color: var(--accent-color);
    background-color: var(--primary-white-color);

    border-color: var(--accent-color);
}